{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if show_distribution_button %}
    <li>
        <a href="{% url 'admin:scheduler_course_distribution' %}" class="btn btn-high">
            {% trans "Distribution Management" %}
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'admin:course_bulk_enroll' %}" class="btn btn-high">
            {% trans "Bulk Register Students" %}
        </a>
    </li>
    {{ block.super }}
{% endblock %} 